
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.bigblue {
    padding-left:50px;
    padding-top: 200px;
    font-size: 70px;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: auto;
    background-image: url(../images/IMG_5497.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position:absolute;
}
.list{
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    text-decoration: none;
    color: black;
    position: absolute;
    text-align: left;
    display: inline-block;
}
ul li{
    height: 9vh;
    padding-left: 30px;
    display: inline-block;


}
.link{
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    color: black;
}
.link:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;;
}

.iconContainer{
    position: absolute;
    bottom: -300px;
    left: 200px;

}