@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.topBar{
    position: absolute;
    top: 8px;
    right:-530px;
    width: 700px;
    font-size: 30px;
    font-family: Kanit;
    font-weight: 700;
    text-decoration: none;
    color: black;
    text-align: right;
    display: inline-block;
}



ul li{
    padding-left: 30px;
    display: inline-block;

}

.link{
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    color: black;
}

.current{
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    color: darkorange;
}

.link:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;;
}
.barContainer{
    position: absolute;
    margin-top: 200px;
    margin-left: 400px;
    width: 1000px;

}

.label{
    font-size: 300px;
}
.bars {
    background: #fff;
    color: yellow;
    display: block;
    height: 2.5rem !important;
    font-size: 100px;
    margin-bottom: 50px;
    position: relative;
    transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    -webkit-transition-property: width, background-color;
    width: 100%;
}
.container {
    color: #e5e5e5;
    font-size: 2rem;
    text-transform: uppercase;
    height:30vh;
    padding-left:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -30vh;
}

.container p{
    font-family: "Roboto";
    font-size:35px;
    font-weight: 700;
    color: black;
    margin-right: -15rem;
}
.animation {
    font-weight: 700;
    height:50px;
    overflow:hidden;
    margin-left: -1rem;

}

.animation > div > div {
    padding: 0.25rem 0.5rem;
    height:2.81rem;
    margin-bottom: 3rem;
    display:inline-block;
}

.animation div:first-child {
    animation: text-animation 12s infinite;
}

.first div {
    background-color:#20a7d8;
}
.second div {
    background-color:#CD921E;
}
.third div {
    background-color:#c10528;
}
.fourth div {
    background-color:green;
}
.fifth div {
    background-color:purple;
}

@keyframes text-animation {
    0% {margin-top: 0;}
    5% {margin-top: 0;}
    10% {margin-top: -5.62rem;}
    15% {margin-top: -5.62rem;}
    20% {margin-top: -11.24rem;}
    25% {margin-top: -11.24rem;}
    30% {margin-top: -16.86rem;}
    35% {margin-top: -16.86rem;}
    40% {margin-top: -22.48rem;}
    55% {margin-top: -22.48rem;}
    60% {margin-top: -16.86rem;}
    65% {margin-top: -16.86rem;}
    70% {margin-top: -11.24rem;}
    75% {margin-top: -11.24rem;}
    80% {margin-top: -5.62rem;}
    85% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
}