@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.barContainer{
    position: absolute;
    margin-top: 50%;
    margin-left: 400px;
    width: 1000px;
}

.bars {
    background: #fff;
    color: yellow;
    display: block;
    height: 35px;
    margin-bottom: 50px;
    position: relative;
    transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    -webkit-transition-property: width, background-color;
    width: 100%;
}
